[user]
	email = ashwinbose123@gmail.com
	name = Ashwin Bose
[alias]
	plog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
